{% include 'header_full.html' %}
    

    <div class="row">
        <div class="offset-lg-3 col-lg-6 text-center border">
            <div class="empty-row"></div>

            <p class="title">CYBERAFFITI</p>
            <br>
            <h4>유해도 기반의 필터링 시스템</h4>
            <h4>You could protect the child from harmful videos</h4>

            <div class="empty-row"></div>
            <div class="empty-row"></div>


        </div>
    </div>


    <div class="row d-flex align-items-end flex-column mb-3" style="padding: 2rem;">
        <p class="footer">
            Made by <span style="color:red;">Korea Univ #3</span><i class="fa fa-heart heart" style="color:red;"></i>. Free download <a href="{{ url_for('download')}}">here.</a>
        </p>
    </div>
</div>
{% include 'footer_full.html' %}