
{% include 'header_full.html' %}
    <div class="row text-center">
        <div class="offset-md-2 col-md-8">
            <hr>
            <div class="empty-row"></div>
            <div class="empty-row"></div>
            <div class="empty-row"></div>
            <h1 style="font-weight: bold;">서비스 준비중입니다</h1>
            <div class="empty-row"></div>
            <div class="empty-row"></div>
            <div class="empty-row"></div>
            <hr>
        </div>
    </div>
{% include 'footer_full.html' %}
