<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/bootstrap.css')}}" >

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/128a736b7f.js"></script>


    <title>Cyberaffiti</title>
    <style>
        .empty_row{
            height: 50px;
        }
        </style>
{#     <style type="text/css">
{#    nav {
{#        background-color: #e78e52;
{#    }
{#    </style>#}


  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container-fluid">

        {% block contents %}
        {% endblock contents %}

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="/static/bootstrap/bootstrap.js"></script>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
  </body>
{#<footer>#}
{#    footer!#}
{#</footer>#}
</html>