{% extends 'base.html' %}

{% block contents %}


<div class="main" style="background-image: url('/static/images/video_bg.jpg')" style="z-index: -1000;">
        <video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
            <source src="http://coming-sssoon.paperplane.io/video/time.webm" type="video/webm">
            <source src="http://coming-sssoon.paperplane.io/video/time.mp4" type="video/mp4">
            Video not supported
        </video>
<!--    Change the image source '/images/video_bg.jpg')" with your favourite image.     -->

    <div class="cover black" data-color="black"></div>

<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo cursive">
            Cyberaffiti
        </h1>

<!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

        <div class="content">
            <h4 class="motto" font="Aerial"> 유해도 기반의 필터링 시스템 </h4>
            <div class="subscribe">
                <h5 class="info-text">
                    You could protect the child from harmful videos
                </h5>

            </div>
        </div>
    </div>
    <div class="footer">
      <div class="container">
             Made by <a href="http://www.creative-tim.com">Korea Univ #3<i class="fa fa-heart heart"></i> </a>. Free download <a href="{{ url_for('model')}}">here.</a>
      </div>
    </div>
 </div>

{% endblock contents %}