{% extends 'base.html' %}

{% block contents %}
    <div class="row">
        <div class="offset-1 col-md-10 align-content-center">
            <div class="row empty_row"></div>
            <p><h4 class="text-center"> 아이콘을 클릭하여 크롬 확장프로그램을 다운로드 받으세요  </h4></p>
            <div class="row empty_row"></div>
            <div align="center"> <a href="https://chrome.google.com/webstore/category/extensions"><img src="/static/images/chrome11.png"  alt="download"  width="80px" height="80px" ></a> </div>

        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-md-10" align="center">
            <a class="btn btn-link" href="https://chrome.google.com/webstore/category/extensions" align="left">click here</a>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-md-10 align-content-center">
              <div class="row empty_row"></div>
            <div class="row empty_row"></div>

            <p align="center"> 사이버래피티의 목적은 유해한 영상으로부터 어린이 및 청소년을 보호하는 것입니다.</p>
            <p align="center"> 사회적 흐름에따라 비속어와 신조어는 새롭게 추가되기에, 사이버래피티는 크롬 확장프로그램을 통해 지속적인 관리를 수행하고자 합니다. </p>

                <div class="row empty_row"></div>
            <p align="center"> <b>필터링 기준: 전체 채팅중 유해한 멘트가 8%이상 등장한 bj의 영상들이 필터링이 됩니다.</b> </p>
            <p align="center"> <b>블랙 리스트: 필터링된 bj의 영상들은 블랙리스트로 관리되며 일주일마다 리스트가 갱신됩니다.</b></p>
            </tr>

    </div>
    </div>
{% endblock contents %}