{% extends 'base.html' %}

{% block contents %}
    <div class="row">
        <div> </div>
        <div> </div>
        <div> </div>
        <div> </div>
        <div class="offset-md-1 col-md-10">
            <div class="row empty_row"></div>
            <h3 class="text-center">사이버래피티:필터링을 통한 유해물 차단</h3>
            <div class="row empty_row"></div>
            <div class="row empty_row"></div>
            <div align="center">
                <h5> </h5>
            </div>

        </div>
    </div>
{% endblock contents %}