

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
{# bg-transparent하면 투명해지나봄 #}
{# <nav class="navbar navbar-expand-lg navbar-light bg-light"> #}
{# <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> #}
  <a class="navbar-brand" href="{{ url_for('index') }}"><i class="fas fa-city"></i>Cyberaffiti</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% if request.path =='/model' %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('model') }}"> 모델 소개 <span class="sr-only">(current)</span></a>
          </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('model') }}"> 모델 소개 <span class="sr-only">(current)</span></a>
            </li>
        {% endif %}
        {% if request.path =='/download' %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('download') }}"> 다운로드 <span class="sr-only">(current)</span></a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('download') }}"> 다운로드 <span class="sr-only">(current)</span></a>
            </li>
        {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{url_for('Ndemo')}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false ">
          시뮬레이션
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('youtube')}}">유튜브</a>
          <a class="dropdown-item" href="{{ url_for('afreeca')}}">아프리카</a>
          <a class="dropdown-item" href="{{ url_for('twitch') }}">트위치</a>
          <a class="dropdown-item" href="{{ url_for('Ndemo') }}">Ndemo</a>
        </div>
      </li>
    </ul>
  </div>
</nav>